.page__main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  background-image: url(../img/image_testimonials.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: auto;
}

.title__description {
  margin-top: 35px;
  padding: 30px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.main__item {
  padding: 10px;
}

.main__image {
  margin: auto;
  display: block;
}

.description__text {
  padding: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}

.main__bottom {
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid #c299ee;;
}

.footer__description {
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #c299ee;
  padding: 20px;
}

.main__line {
  color: #c299ee;
  padding: 20px;
}

@media screen and (max-width: 1200px) {

  .main__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .main__title {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .main__item {
    width: 100%;
    height: auto;
  }

  .button__download {
    width: 380px;
    color: white;
    font-size: 22px;
  }
}

.main__description {
  margin-bottom: 25px;
}


@media screen and (min-width: 320px) and (max-width: 766px) {

  .main__wrapper {
    grid-template-columns: 1fr;
    height: auto;
  }

  .main__item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main__description {
    margin-bottom: 0;
  }

  .description__text {
    font-size: 20px;
  }
}




