.price {
  background-image: url("../img/layer.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.0001);
  margin-top: -10px;
}

.price-title {
  @include font('Montserrat', 700, 48px);
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 114px;
  padding-bottom: 112px;
  margin: 0;
}

.price-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 149px;


  .price-block {
    background-color: rgba(255, 255, 255, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    max-width: 257px;
    flex: 4;


    &__title {
      padding-top: 36px;
      padding-bottom: 36px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.12);
      width: 100%;

    }

    &__title-text {
      @include font('Montserrat', 700, 24px);
      font-weight: normal;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: white;

    }

    &__price {
      @include font('Montserrat', 700, 60px);
      line-height: 90px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &__pm {
      @include font('Montserrat', 700, 14px);
      line-height: 16px;
      font-weight: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-bottom: 79px;
    }

    &__license {
      @include font('Montserrat', 700, 14px);
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      font-weight: normal;
      padding-bottom: 77px;
    }
  }

  .price-block__button {
    padding-bottom: 51px;
  }

  .price-block__button-text {
    @include font('Montserrat', 700, 15px);
    padding: 15px 38px 14px 37px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .second {
    padding-bottom: 56.5px;

  }

  .price-block-third {
    margin-left: 15px;
    background-color: rgba(70, 48, 72, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   max-width: 299px;
    flex: 5;


    &__title {
      width: 299px;
      padding-top: 43px;
      padding-bottom: 43px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &__price {
      @include font('Montserrat', 700, 82px);
      line-height: 90px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 14px;
      padding-bottom: 16px;
    }

    &__pm {
      @include font('Montserrat', 700, 14px);
      line-height: 16px;
      font-weight: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-bottom: 91px;
    }

    &__license {
      @include font('Montserrat', 700, 16px);
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      font-weight: normal;
      padding-bottom: 83px;
    }
  }

  .price-block-third__button {
    padding-bottom: 65.5px;
  }

  .price-block-third__button-text {
    @include font('Montserrat', 700, 16px);
    padding: 18.5px 48px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .price-block__license::before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: #8d81ac;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -40px;
  }

  .price-block-third__license::before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: #8d81ac;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
  }
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .price {
    margin-top: -15px;
  }
  .price-blocks {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;

  }

  .price-block-third {
    margin-top: 30px;
    flex: 8;
  }
  .price-title {
    @include font('Montserrat', 700, 42px);
    font-weight: bold;
    line-height: 44px;
    padding-top: 88px;
    padding-bottom: 39px;
  }
}


@media screen and (max-width: 481px) {
  .price {
    margin-top: -20px;
  }
  .price-blocks {
    flex-direction: column;
  }
  .price-block {
    margin: 15px 0 auto 0;
    flex: 0;
    width: 257px;
  }
  .price-title {
    @include font('Montserrat', 700, 28px);
    line-height: 42px;
    padding-top: 2px;
    padding-bottom: 32px;
    white-space: normal;
  }


  .price-block-third {
    margin-top: 15px;
}}

@media screen and (max-width: 600px){
  .price-blocks {
    flex-direction: column;
  }
  .price-block {
    margin: 15px 0 auto 0;
    flex: 0;
    width: 257px;
  }
}