*,
*::after,
*::before {
  box-sizing: border-box;
}

.page__body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	height: 100%;
}

.container {
	width: 100%;
  margin:0 auto;
  max-width: 1200px;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  max-width: 1200px;
}
@media (max-width: 767px) {
  max-width: 750px;
}
@media (max-width: 320px) {
  max-width: none;
}
