.page__header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/image_header.png);
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  margin-bottom: 70px;
}

.header__wrapper {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  height: auto;
}

.header__title {
  padding: 30px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 50px;
}

.header__subtitle {
  padding: 20px;
  color: white;
  font-size: 25px;
  margin-bottom: 180px;
}

.header__text {
  padding: 20px;
  color: white;
  font-size: 20px;
}

.button__download {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #8d81ac;
  height: 60px;
  width: 390px;
  border: 10px solid #8d81ac;
  border-radius: 25%;
  font-size: 25px;

  text-align: center;
}

.button__download:hover {
  background-color: white;
}

.download__text {
  padding: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .page__header {
    width: 100%;
  }
  .header__wrapper {
    margin: 0;
  }
  .header__text {
    color: #8d81ac;
    padding: 5px;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .page__header {
    width: 100%;
    border: 10px;
    padding: 10px;
  }
  .header__wrapper {
    margin: 0;
    height: auto;
  }

  .button__download {
    margin-top: 210px;
    width: 90%;
  }

}










