.here-is-what-you-get {
  padding-top: 98px;
  background: #F4F4F4;

}
.here-title{
  @include font('Montserrat', 700, 3vw);
  color: #8d81ac;
  line-height: 27px;
  white-space: nowrap;
  max-font-size:48px;
}
.here-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 45px 15px;
  &__text{
    @include font('Montserrat', 700, 2em);
padding-left: 23px;
  }
  &__title{
    @include font('Montserrat', 400, 16px);
    line-height: 21px;
    color: #323232;
    padding-left: 5px;

  }
  &__paragraph{
    @include font('Montserrat', 400, 14px);
    max-width: 390px;
    line-height: 21px;
    color: #848E97;
  }
}
.here-image {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  justify-content: end;
}

.here-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  flex-wrap: wrap;
}


@media  screen and (max-width: 992px) and (min-width: 481px) {
  .here-is-what-you-get {
    padding-top: 0;
    background: #ffffff;
  }
  .here-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
  }

  .here-title{
    order:-1;
    @include font('Montserrat', 700, 36px);
    color: #8d81ac;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 36px;
  }
  .here-content {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 45px 15px;

    &__paragraph{
     max-width: 577px;
      min-width: 320px;
    }
  }
  .here-image {
    margin-top: 31px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: end;
  }

}

@media  screen and (max-width: 481px)  {
  .here-is-what-you-get {
    padding-top: 0;
    min-width: 320px;
    background: #ffffff;
  }
  .here-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
  }

  .here-title{
    order:-1;
    @include font('Montserrat', 700, 32px);
    min-width:230px;
    color: #8d81ac;
    line-height: 44px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    white-space: normal;

  }
  .here-content {
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
 &__text{
   padding: 0;
 }
    &__paragraph{
      display: inline-block;
      text-align: center;
      width: 271px;
      padding-left: 0;
    }
  }
  .here-image {
    margin-top: 31px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
}
@media  screen and (max-width: 1396px) {
  .here-wrapper {
overflow: hidden;
  }
}