@mixin font($font_family, $font_weight, $font_size) {
  font-family: $font_family, sans-serif;
  font-weight: $font_weight;
  font-size: $font_size;
}
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

%list-reset {
	list-style: none;
	padding-left: 0;
}
