.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 100%;
}

.header__links {
  display: flex;
  margin-left: 40px;
  padding-left: 30px;
}

.header__links li {
  padding: 0 20px;
}

.header__links li a {
  color: #8d81ac;
  font-size: 15px;
}

.logo__text {
  font-size: 25px;
  font-weight: bold;
  color: #8d81ac;
  padding-left: 5px;
  padding-right: 50px;
  margin-right: 30px;
}

.nav__button {
  margin-left: 30px;
  background-color: #8d81ac;
  border: 10px solid #8d81ac;
  height: 47px;
  width: 160px;
  border-radius: 25%;
  font-size: 20px;
  color: white;
}

.header__menu:hover .header__logo {
  background-image: url(../img/logo_forkio_white.png);
  color: white;
  background-repeat: no-repeat;
}

.header__menu:hover .nav__button {
  border: 10px solid white;
  background-color: white;
  color: black;
}

.header__menu:hover .logo__text {
  color: white;
}

.header__menu:hover .header__links li a {
  color: white;
}

.navigation__burger {
  display: none;
  height: 40px;
  width: 40px;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.75s ease, opacity 0.75s ease;
}


@media screen and (max-width: 1200px) {
  .page__header {
    background-position: center;
    padding-top: 0;
  }

  .header__menu {
    display: grid;
  }

  .header__links li {
    padding: 2px;
  }
}

.nav__links {
  display: flex;
  justify-content: center;
}

.navigation__item {
  list-style-type: none;
  align-content: center;
}

.navigation__link {
  text-decoration: none;
  padding: 22px;
  color: black;
  text-align: center;
  cursor: pointer;
}


.hidden__links {
  display: none;
}

.main__nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.main__nav.show .line2 {
  opacity: 0;
}

.main__nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main__nav.show .header__links {
  transform: translateX(0%);
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .page__header {
    padding: 0;
  }

  .header__wrapper {
    width: 100%;
  }

  .header__title {
    margin-top: 0;
  }
  .header__subtitle {
    color: lightgrey;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .header__menu {
    background-color: #27262a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ("a b c");
    width: 100%;
    justify-items: center;
    padding-bottom: 36px;
    padding-top: 36px;
    margin-top: 0;
  }

  .header__logo {
    grid-area: a
  }

  .nav__button {
    grid-area: b;
  }
  .navigation__burger {
    grid-area: c;
  }

  .logo__text {
    display: none;
  }

  .navigation__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .header__links {
    position: fixed;
    top: 14vh;
    right: 3vh;
    width: 92%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 1s ease;
    padding-left: 0;
    margin-right: 0;

  }

  .header__links li {
    width: 100%;
    background-color: #333333;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    color: white;
    border: 2px gray;
    margin-bottom: 3px;

  }
  .header__links li a {
    color: #808080;
    font-size: 34px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}




