.revolutionary{
  height: 100%;
}
.main-title {
  @include font('Montserrat', 700, 26px);
  font-weight: bold;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #635C73;
  text-align: center;
 padding-top: 66px;
  padding-bottom: 35px;
  margin: 0;
}
.main-title__slogan {
  @include font('Lato', 400, 21px);
  text-align: center;
  max-width: 861px;
  margin: 0 auto;
  padding-bottom:13px ;
  font-weight: normal;
  line-height: 32px;
  color: #323232;
}


.editor {
 display: flex;
  justify-content: center;

  &-actions {
    margin-top: 0;
    margin-bottom: 70px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      margin-top: 20px;
      margin-right: 9px;
      list-style: none;
    }


      .editor-actions__btn {
        text-decoration: none;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
        color: #24292e;
        border: 1px solid rgba(27,31,35,.2);
        border-radius: 3px;
        @include font('Lato', 700, 14px);
        line-height: 20px;
        padding: 2px 9px;
        display: inline-block;
        vertical-align: middle;
        &:hover {
          background-image: linear-gradient(-180deg,#fafbfc,#d1d9df 90%);
          border-color: rgba(51, 48, 48, 0.4);
        }
        .editor-actions__btn_icon {
          vertical-align: text-bottom!important;
        }
      }
      .editor-actions__count {
        text-decoration: none;
        background-color: #fff;
        border: 1px solid rgba(27,31,35,.2);
        border-bottom-right-radius: 3px;
        border-left: 0;
        border-top-right-radius: 3px;
        @include font('Lato', 700, 12px);
        color: #24292e;
        line-height: 20px;
        padding: 2px 9px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }


@media screen and (max-width: 992px) and (min-width: 481px) {
  .main-title {
    font-size: 42px;
    line-height: 42px;
    padding-top: 94px;
    padding-bottom: 33px;
  }
  .main-title__slogan {
    max-width: 689px;
    margin-bottom: 24px;
  }
  .editor-actions {
    margin-bottom: 98px;
  }
}

@media screen and (max-width: 481px)  {
    .main-title {
      font-size: 26px;
      line-height: 28px;
     padding-top: 80px;
     padding-bottom: 27px;
    }
  .main-title__slogan {
    width: 276px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 20px;
  }
  .editor-actions {
    padding-left: 0;
   bottom: 20px;
    width: 289px;
  }
  .last-item {
    margin-top: 20px;
  }
}